<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facility - Schedule Operation</title>
    <link rel="stylesheet" href="/static/css/notification.css">
</head>
<body>

    <h1>Schedule Operation for Confirmed Donor & Recipient</h1>

    {% for notification in notifications %}
        
        <div class="notification">
            <p class="not-head"><strong>Message to {{ notification.receiver.userinfo.userRole }}: {{ notification.receiver.username }}</strong></p>
            <p class="not-time"> {{ notification.created_at }} </p>
            {% if notification.reply_message %}
                <p>{{ notification.receiver.username }}'s Replied for {{ notification.type }}  : {{ notification.reply_message }}</p>
                {% if notification.type == 'organ match confirmation' %}
                    <form method="post" action="{% url 'schedule_operation' notification.id %}">
                        {% csrf_token %}
                        <label for="schedule_time">Schedule Date & Time:</label>
                        <input type="datetime-local" name="schedule_time" required>
                        <button type="submit">Send Schedule</button>
                    </form>
                {% endif %}
            {% else %}
                <p>No Reply</p>
            {% endif %}
        </div>
       
    {% endfor %}

</body>
</html>
