<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Organ Connect - Registration</title>
    <link rel="stylesheet" href="/static/css/register.css">
    <style>
        
    </style>
</head>
<body>

<div class="container">
    <h1>Organ Connect Login</h1>

    <form method="POST">
        {% csrf_token %}
        <!-- Username -->
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Create a username" required>
        </div>

        <!-- Password -->
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Create a password" required>
        </div>

        <!-- Submit Button -->
        <div class="form-group">
            <button type="submit">Login</button>
        </div>

        <!-- Already have an account -->
        <div class="form-group">
            <p> haven't an account? <a href="/register/">Register here</a></p>
        </div>
    </form>
</div>

</body>
</html>
