* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
}

aside {
    width: 250px;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    height: 100vh;
    position: fixed;
}

aside h2 {
    text-align: center;
    margin-bottom: 30px;
}

aside nav {
    display: flex;
    flex-direction: column;
}

aside nav a {
    color: white;
    text-decoration: none;
    padding: 10px 0;
    font-size: 1.1rem;
    margin-bottom: 15px;
    text-align: center;
    border-bottom: 2px solid transparent;
}

aside nav a:hover {
    border-color: #4caf50;
}

.main-content {
    margin-left: 270px; 
    padding: 20px;
    width: 100%;
}

.header {
    background-color: #3498db;
    color: white;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 2rem;
}

.profile {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.profile .profile-info {
    max-width: 60%;
}

.profile .profile-info h3 {
    margin-bottom: 10px;
    color: #333;
}

.profile .profile-info p {
    color: #555;
}

.profile .profile-img img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ccc;
    margin-left: 20px;
    text-align: center;
    line-height: 120px;
    font-size: 2rem;
    color: #fff;
}

.section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section h3 {
    color: #333;
    margin-bottom: 15px;
}

.section p {
    color: #555;
    font-size: 1rem;
}

.logout-btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #e74c3c;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
}

.logout-btn:hover {
    background-color: #c0392b;
}