body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url("/static/images/background1.jpg") no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

.container {
    width: 20%;  
    margin: 0 65%;
    padding: 20px;
    padding-right:40px;
    background-color: rgba(137, 23, 23, 0.2); 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(231, 222, 222, 0.6);
    margin-top: 50px;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    color: #e7b8b8;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    font-size: 1rem;
    color: #c7c0c0;
    margin-bottom: 8px;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    font-size: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    opacity: 0.8;
}

.form-group input:focus, .form-group select:focus {
    border-color: #4caf50;
    outline: none;
}

.form-group button {
    width: 100%;
    padding: 12px;
    font-size: 1.2rem;
    background-color:rgb(233, 35, 65);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity:0.8;
}

.form-group button:hover {
    background-color: #c10c27;
}

.form-group p {
    text-align: center;
    font-size: 1rem;
    color: #d7c1c1;
}

.form-group p a {
    color:rgb(241, 113, 113);
    text-decoration: none;
}

.form-group p a:hover {
    text-decoration: underline;
}